@import "./../../../styles/settings.scss";

.card {
    height: 450px;
    overflow: auto;
    box-shadow: 1px 1px 2px $main-color;

    &:hover .cardTitle {
        color: $cream-color;
        cursor: pointer;
    }
}

.cardImage {
    max-width: 200px;
    max-height: 230px; 
    object-fit: cover; 
    margin: 0 auto;
    position: relative;
}

.cardTitle {
    overflow: hidden;
    font-size: 1.2rem;
    color: $main-color;
    font-family: $hero-title-font-family;
    text-decoration: none;
    margin: 0;
}

.price {
    font-size: 1.1rem;
    font-family: $hero-title-font-family;
    color: darken($cream-color, 20%);
    padding: 5px;
}

.heart {
    color: $main-color;
    font-size: 1.8rem;
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    
    &:hover {
        cursor: pointer;
    }
}

.glow {
    animation: glow 1s ease;
}