@import "./../../../styles/settings.scss";

.cartSummaryPrice {
    background-color: $main-color;

    &> div {
        color: $cream-color;
        font-size: 1.3rem;
        font-weight: 500;
        font-family: $hero-title-font-family;
    }
}