@import "./../../../styles/settings.scss";

.cardImage {
    max-width: 250px;
    max-height: 280px; 
    object-fit: cover; 
    margin: 0 auto;
}

.cardTitle {
    overflow: hidden;
    height: 30px; 
    text-align: center;
    font-size: 1.5rem;
    color: $main-color;
    font-family: $hero-title-font-family;
    margin-bottom: 20px;
}

.price {
    font-size: 1.3rem;
    font-family: $hero-title-font-family;
    color: darken($cream-color, 20%);
    margin-bottom: 0;
    margin-right: 15px;
    padding-right: 10px;
}

.label {
    color: $main-color;
    font-size: 1rem;
}