@import "./../../../styles/settings.scss";

.amountInput {
    width: 38px;
    height: 38px;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid $main-color;
    border-radius: 5px;
}