@import './../../../styles/settings.scss';

.contact {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $cream-color;
    margin-bottom: 10px;

    span {
        color: $main-color;
        font-weight: 600;
        font-family: $hero-title-font-family;
        font-size: 1.3rem;
        text-align: center;
    }

    div {
        font-size: .8rem;
        font-weight: 500;
    }
}
