@import "./../../../styles/settings.scss";

.delivery {
    font-size: 1.1rem;
    font-family: $hero-title-font-family;
    color: $main-color;
    padding-left: 60px;
}

span {
    font-weight: 500;
}