@import "./../../../styles/settings.scss";

.productsSumary {
    font-weight: 500;
}

.productName {
    font-size: 1.1rem;
    font-family: $hero-title-font-family;
}

.messageLabel, .productName {
    color: $main-color;
}

.messageLabel {
    padding-left: 40px;
}
