@import "./../../../styles/settings.scss";

.navbar {
    background-color: rgba(0, 0, 0, .7);
}

.navLink {
    color: $cream-color;
    font-size: 1rem;
    font-weight: 700;
}

.cart {
    font-size: 1.3rem;
}
