@import "./settings.scss";

body {
    margin: 0;
    padding: 0;
    font-size: $base-font-size;
    background: url("./../../public/images/container/photo-container.png") no-repeat center 0/cover;
}

[class^="btn-"] {
     text-transform: uppercase;
    border: 1px solid $main-color;
    font-weight: 500;
}

.btn-one {
    background-color: $main-color;
    color: $cream-color;

    &:hover {
        background-color: $cream-color;
        color: $main-color;
    }
}

.btn-two {
    background-color: $cream-color;
    color: $main-color;

    &:hover {
        background-color: $main-color;
        color: $cream-color;
    }
}

.cartItemBtn {
    cursor: pointer;
    color: $main-color;
}

.summaryLabel {
    background-color: $main-color;

    &> div {
        color: $cream-color;
        font-size: 1.3rem;
        font-weight: 500;
        font-family: $hero-title-font-family;
    }
}