@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Sevillana&display=swap');

$base-font-size: 14px;

$hero-title-font-family:  "Oleo Script", system-ui;
$hero-subtitle-font-family: "Sevillana", cursive;

$cream-color: burlywood;
$main-color: rgb(100, 50, 25);
$light-color: white;